<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="Form_testing.Homepage" />
			<class name="Form_testing.PLP_Page" />
			<class name="Form_testing.PDP" />
			<class name="Form_testing.MiniCart" />
			<class name="Form_testing.CheckOut" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->

